/* Add background image to hero section */
#hero {
    /* background-image: url('./fireinindialogo.png'); */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 0;
}

header {
    background-image: url('./fireinindialogo.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}


/* Style the call-to-action button */
.cta-button {
    display: inline-block;
    background-color: black;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    box-shadow: 2px 2px #f4da0f;
    cursor: pointer;
}

.cta-button:hover {
    background-color: black;
    box-shadow: none;
}

/* Style the features section */
#features {
    margin-bottom: 40px;
    text-align: center;
}

#features h3 {
    margin-bottom: 20px;
    color: #f4da0f;
    font-size: 22px;
    text-transform: uppercase;
}

#features ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#features li {
    margin-right: 20px;
    margin-bottom: 20px;
    flex: 1;
    max-width: 200px;
    text-align: center;
}

#features li:last-child {
    margin-right: 0;
}

/* Style the pricing section */
#pricing {
    margin-bottom: 40px;
    text-align: center;
}

#pricing h3 {
    margin-bottom: 20px;
    color: #f4da0f;
    font-size: 28px;
    text-transform: uppercase;
}

#pricing ul {
    list-style: none;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#pricing li {
    margin-right: 40px;
}

#pricing li:last-child {
    margin-right: 0;
}

#pricing li:before {
    content: '$ ';
}

#pricing li:first-child:before {
    content: '';
}

#pricing .highlight {
    color: #f4da0f;
    font-weight: bold;
}

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Add media queries for responsive design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 20px;
        justify-content: center;
    }

    nav li:not(:last-child) {
        margin-right: 10px;
    }

    #features li {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    #pricing li {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
